<!-- <h1>Users:</h1>
<ul>
    <li *ngFor="let user of users">
        <mat-card>{{ user.name }}</mat-card>
    </li>
</ul> -->


<ul>
    <li *ngFor="let user of users">
        <mat-card class="example-card">

            <mat-card-content>       
              <div class="avatar">
                <img *ngIf="user.avatar" mat-card-avatar class="avatar" [src]="user.avatar" alt=""/>
              </div>   
              <h1 class="title">
                 {{user.username}}
              </h1>
            </mat-card-content>
            <mat-card-actions>
              <!-- <button mat-button (click)=editUser(user)>EDIT</button> -->
              <button mat-button (click)="deleteUser(user)">DELETE</button>
            </mat-card-actions>
        </mat-card>
    </li>
</ul>